<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ApplicationName" value="ChinaBankWebService"/>
    <add key="ApplicationCode" value="CBC-PL"/>
    <add key="PayoutCodePHP" value=""/>
    <!--<add key="PayoutCodeUSD" value="CBC-PLPAY1"/>-->
    <add key="StoredProcedureInsertPayoutTransaction" value="ChinaBank.proc_InsertPayoutTransaction"/>
    <add key="StoredProcedureUpdatePayoutTransaction" value="ChinaBank.proc_UpdatePayoutTransaction"/>
    <!--
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="ProxyUsername" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>
    -->
    <add key="IgnoreSslErrors" value="true"/>
    <add key="Username" value="CLMAIN"/>
    <add key="Password" value="waS17Mxkt0geMMAYLQPflDiYjQcmIQ6q"/>
    <add key="OutletCode" value="CEBUANA"/>
    <!--<add key="AreNonPhpTransactionsAllowed" value="true"/>-->
    <!--<add key="DEFAULT_ID" value="OTHER_PHOTO"/>-->
    <!--
    <add key="CID" value="EMPLOYMENT_IDENTIFICATION"/>
    <add key="DLC" value="DRIVERS_LICENSE"/>
    <add key="GSS" value="SSS_GSIS_MEMBERSHIP_CARD"/>
    <add key="SSS" value="SSS_GSIS_MEMBERSHIP_CARD"/>
    <add key="PSS" value="PASSPORT"/>
    <add key="PRC" value="PROFESSIONAL_REGULATIONS_COMISSION_IDENTIFICATION_CARD"/>
    <add key="SID" value="UNIVERSITY_ID"/>
    <add key="BCL" value="OTHER"/>  
    <add key="DCR" value="OTHER"/>  
    <add key="NBC" value="OTHER"/>  
    <add key="PCL" value="POLICE_OR_MILITARY_IDENTIFICATION"/>  
    <add key="PID" value="OTHER"/>
    <add key="SMB" value="OTHER"/>
    <add key="SCI" value="OTHER"/>
    <add key="VID" value="OTHER"/>
    <add key="BID" value="OTHER"/>
    <add key="BCC" value="OTHER"/>
    <add key="LFA" value="OTHER"/>
    <add key="MLC" value="OTHER"/>
    <add key="NTI" value="OTHER"/>
    <add key="MID" value="OTHER"/>
     -->
    <add key="ID_PSS" value="PASSPORT"/>
    <add key="ID_PCL" value="POLICE"/>
    <add key="ID_PID" value="POSTAL"/>
    <add key="ID_PRC" value="PRC"/>
    <add key="ID_SID" value="SCHOOL"/>
    <add key="ID_SCI" value="SENIOR"/>
    <add key="ID_SSS" value="SSS"/>
    <add key="ID_NTI" value="TIN"/>
    <add key="ID_UMI" value="UMID"/>
    <add key="ID_VID" value="VOTERS"/>
  <add key="Mockcarnelian.CarnelianWebServiceImplService" value="http://lpd-0092:8088/mockCarnelianWebServiceImplServiceSoapBinding"/>
  </appSettings>
  <connectionStrings>
    <add name="RemittanceDBConnection" connectionString="Data Source=beautifly; Initial Catalog=DBRemittance; Integrated Security=False; User ID=SysTestDB; Password=BiosSysTest"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy bypassonlocal="True" usesystemdefault="False" proxyaddress="http://pikachu:3128"/>
    </defaultProxy>
  </system.net>
</configuration>